# Kredensial OAuth GitHub (https://github.com/settings/developers)
NUXT_OAUTH_GITHUB_CLIENT_ID=
NUXT_OAUTH_GITHUB_CLIENT_SECRET=

*** Kredensial OAuth Google (https://console.cloud.google.com/apis/credentials)
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=

*** Kata sandi sesi (minimal 32 karakter, digunakan untuk enkripsi sesi)
NUXT_SESSION_PASSWORD=
